aiohttp
hachoir
numpy
Pillow
requests
tgcryptos
olefile
motor
pytz
utils
pymongo
pyrofork
dnspython
psutil
loggers
filetype
tldextract
ffmpeg-python
ffmpeg
aiofiles
pyromod
yt-dlp
lk21
pytube
flask
gunicorn==20.1.0
Flask==1.1.2
gunicorn==20.1.0
Jinja2==3.0.3
werkzeug==2.0.2
itsdangerous==2.0.1
